
html {
    border: 0;
    padding: 0%;
}

.bg-globe {
    background-color:#e5e5e5;
}

.article-list-box {
    hight: 500px;
}

.article-list-box-inner {
    hight: 100%; /*为了铺满*/
}

.article-img {
    width: 100%;
}
.article-time {
    float:right;
}

.article-tags{
    float: left;
}
.article-info{
    float: right;
}
.article-tags a,.article-info a{
    color: #fff;
}
.article-tags a:hover,.article-info a:hover{
    color: #000;
}
.article-content p{
    color: #5a5c69;
    height: 50px;
    padding: 5px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.article-content .ac3{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.globe-row{
    margin: 0;
}
.article-msg{
    background: #e5e5e5;
    padding: 0 20px;

}