html {
    border: 0;
    padding: 0%;
}
.colorChange{
    color: #1a1a1a;
}
.controls .table > tbody > tr > td.active{
    background: #007bff!important;
}
.user-comments .bef-comments{
    color: rgba(0,0,0,0.1);
}
.user-comments .active{
    color: #f4f4f4;
}