html {
    border: 0;
    padding: 0;
}

.chooseFile{
    border: 1px solid #cccccc;
    width: 97%;
    height: 28px;
    border-radius: 5px;
    opacity: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.inputName{
    width: 70%;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border: 1px solid #9e9a9a;
    border-radius: 5px;
}
#uploadForm:hover,
#uploadBtn:hover,
#srcImg:hover{
    background: #204d74;
}

#uploadForm{
    position: relative;
    cursor: pointer;
    border-color: #204d74;
    border-radius: 4px;
    /* overflow: hidden; */
    width: 10%;
    font-size: 14px;
    background-color: #2065A6;
    line-height: 30px;
    color: white;
    text-align: center;
    margin: 0 7px;
}
#srcImg{
    cursor: pointer;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    background-color: #2065A6;
    line-height: 30px;
    color: white;
    text-align: center;
    margin: 0 7px;
    width: 5%;
}
#previewImg{
    width: 100%;
    height: 100%;
    max-height: 768px;
}
#inputImgName{
    color: #1a1a1a;
}
#uploadBtn{
    border: none;
    float: right;
    cursor: pointer;
    border-radius: 4px;
    width: 8%;
    font-size: 14px;
    background-color: #2065A6;
    line-height: 30px;
    color: white;
    text-align: center;
    margin: 0 7px;
}

#text-title,
#text-des{
    background: #efefef;
    outline: none;
    display: inline-block;
    width: 92%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding-left: 16px;
    border: none;
}
.tips-title{
    text-align: center;
    color: #1a1a1a;
}
.tip-max-length{
    height: 40px;
    color: #000;
    font-size: 16px;
    text-align: right;
    width: 6.4%;
}
.text-title-box,#text-des-box{
    margin-top:24px;
    background: #efefef;
    font-size:16px;
    color: #4d4d4d;
}
.title-max-length{
    font-size: 16px;
    text-align: right;
    display: inline-block;
    width: 6.4%;
}
#editor{
    margin-top:28px;
    height: max-content!important;
}
.w-e-text-container{
    height: 680px!important;
    color:#000000;
    background: #fff;
}
.w-e-toolbar{
    font-size: 16px;
}
.dowebok-class,
.dowebok-value{
    list-style-type: none;
}
.dowebok-class li ,
.dowebok-value li{
    display: inline-block;
    margin: 10px 0;
}
.dowebok-class input.labelauty + label,
.dowebok-value input.labelauty + label{
    font: 12px "Microsoft Yahei";
}
.text-tips-box{
    margin-top: 38px;
}
/*提交按钮样式*/
#art-save-btns a:hover{text-decoration: none;}
#art-save-btns .link{
    display: inline-block;
    position: relative;
}
#art-save-btns .link span{
    display: block;
    padding: 7px 15px;
    font-size: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease 0s;
}
/*背景样式*/
#art-save-btns .btns-container{
    position: relative;
    width: auto;
    padding: 10px;
    text-align: center;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    border-radius: 4px;
    border: none;
}
#art-save-btns .btns-container:after,
#art-save-btns .btns-container:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(0,0,0,0.1);
    z-index:-2;
    border-radius: 4px;
}
#art-save-btns .btns-container:hover{
    z-index:1;
    background:transparent;
}
#art-save-btns .btns-container:before {
    transition: .3s;
    z-index:-1;
    background: rgba(0,0,0,0.5);
}
#art-save-btns .btns-container:hover:after,
#art-save-btns .btns-container:hover:before {
    width: 100%;
}

#art-post-btn span{
    color: #1E9FFF;
}
#art-save-btn span{
    color: #666;
}
#art-del-btn span{
    color: #c7254e;
}
#art-des-btn span{
    color: #4BC916;
}


#art-post-btn span:hover{
    color: #2065A6;
}
#art-save-btn span:hover{
    color: #fff;
}
#art-del-btn span:hover{
    color: #860000;
}
#art-des-btn span:hover{
    color: #2b542c;
}


#art-post-btn .link:before,
#art-post-btn .link:after,
#art-post-btn .link span:before,
#art-post-btn .link span:after{
    border: 3px solid #2065A6;
}
#art-save-btn .link:before,
#art-save-btn .link:after,
#art-save-btn .link span:before,
#art-save-btn .link span:after{
    border: 3px solid #fff;
}
#art-del-btn .link:before,
#art-del-btn .link:after,
#art-del-btn .link span:before,
#art-del-btn .link span:after{
    border: 3px solid #860000;
}
#art-des-btn .link:before,
#art-des-btn .link:after,
#art-des-btn .link span:before,
#art-des-btn .link span:after{
    border: 3px solid #2b542c;
}

#art-post-btn .link:hover:before{ border-left: 3px solid #2065A6; }
#art-post-btn .link:hover span:after{ border-right: 3px solid #2065A6; }

#art-save-btn .link:hover:before{ border-left: 3px solid #fff; }
#art-save-btn .link:hover span:after{ border-right: 3px solid #fff; }

#art-del-btn .link:hover:before{ border-left: 3px solid #860000; }
#art-del-btn .link:hover span:after{ border-right: 3px solid #860000; }

#art-des-btn .link:hover:before{ border-left: 3px solid #2b542c; }
#art-des-btn .link:hover span:after{ border-right: 3px solid #2b542c; }


#art-save-btns .link:before,
#art-save-btns .link:after,
#art-save-btns .link span:before,
#art-save-btns .link span:after{
    content: "";
    width: 25%;
    height: 100%;
    border-radius: 30px;
    border-left: none;
    border-right: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease 0s;
}
#art-save-btns .link:after{ left: 25%; }
#art-save-btns .link span:before{ left: 50%; }
#art-save-btns .link span:after{ left: 75%; }
#art-save-btns .link:hover:before,
#art-save-btns .link:hover:after,
#art-save-btns .link:hover span:before,
#art-save-btns .link:hover span:after{
    border-radius: 0;
    opacity: 1;
    transform: scale(1);
}
@media only screen and (max-width: 990px){
    #art-save-btns .link span{ font-size: 20px; }
}
@media only screen and (max-width: 767px){
    #art-save-btns .link{ margin-bottom: 20px; }
}
.layui-layer-msg{
    color: #1a1a1a;
}